<div class="card border-primary mb-3" style="width: 30rem; align-content: center; left: 30%;">
    <div class="card-header" style="align-items: center;" >
        <h5 class="card-title" >{{cliente.usuario}}</h5>
        <img src="..." class="card-img-top" alt="...">
    </div>    
    
    <ul class="list-group list-group-item" >
      <li class="list-group-item">
        <h5>Nombre y apellido</h5>
        <p>{{cliente.nombre}} {{cliente.apellido}}</p>
      </li>
      <li class="list-group-item" >
        <h5>Cedula</h5>
        <p>{{cliente.cedula_persona}}</p>
      </li>
      <li class="list-group-item" >
        <h5>Fecha de nacimiento</h5>
        <p>{{cliente.fecha_nacimiento}}</p>
      </li>
      <li class="list-group-item">
        <h5>Contraseña</h5>
        <p>{{cliente.contrasena}}</p>
      </li>
    </ul>
    <div class="card-body">
      <button type="button" name="buttonEdit" [] class="btn btn-primary">Editar</button>
    </div>
  </div>