<div class="card text-bg-primary mb-3">
    <div class="card-header">
        <h2>{{title}}</h2>
    </div>
    <div class="card-body">
        <form ngNativeValidate (ngSubmit)="editU()">

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2"><h4>Foto</h4></label>
                <div class="col-sm-6">
                    <input type="file" class="form-control" [(ngModel)]="cliente.foto" name="foto" (change)="onFileSelected($event)">
                    
                    <img [src]="previewImage" alt="Vista previa">
                </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2"><h4>Primer nombre</h4></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.usuario" name="nombre" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2"><h4>Segundo nombre</h4></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.usuario" name="nombre" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2"><h4>Primer apellido</h4></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.usuario" name="nombre" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2"><h4>Segundo apellido</h4></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.contrasena" name="contrasena" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2"><h4>Cédula</h4></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.cedula_persona" name="cedula_persona" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2"><h4>Contraseña</h4></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.usuario" name="nombre" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2"><h4>Edad</h4></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.usuario" name="nombre" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2"><h4>Género</h4></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.usuario" name="nombre" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2"><h4>Teléfono</h4></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.cedula_persona" name="cedula_persona" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2"><h4>Dirección</h4></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.usuario" name="nombre" required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" style="background-color: goldenrod; color: black;" (click)="convertToBase64()"><strong>Editar</strong></button>
                </div>
            </div>

        </form>
    </div>
</div>