<div class="my-2 text-left">
    <div class="card-header">Servicios</div>
    <div>
      <h6 class="card-title">Listado de Servicios</h6>
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/servicios/form']">Crear</button>
    </div>
    <div class="card-container" style="display: flex; gap: 20px; overflow-x: auto; padding: 20px ; flex-wrap: wrap;">
      <div *ngFor="let servicio of Servicios" class="card" style="width: 18rem;">
        <img [src]="servicio.foto" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">{{ servicio.titulo }}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Descripción: {{ servicio.descripccion }}</li>
        </ul>
        <div class="card-body">
          <div style="display: flex; justify-content: space-between space-between; margin-left:4%; margin-right: 7%;">
            <button type="button" name="button" [routerLink]="['/proveedores/form',servicio.id]"
              style="background-color: rgb(13, 80, 237); color: white; width: 90px; height: 25px;">EDITAR</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" name="button" (click)="delete(servicio)"
              style="background-color: red; color: white; width: 90px; height: 25px;">ELIMINAR</button>
          </div>
        </div>
      </div>
    </div>
