<form style="width: 26rem;" class="mx-auto">
    <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="form4Example1">Titulo</label>
        <input type="text" id="form4Example1" class="form-control" [(ngModel)]="servicio.titulo" name="titulo"
            readonly />
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="form4Example2">Descripcion</label>
        <input type="email" id="form4Example2" class="form-control" [(ngModel)]="servicio.descripcion"
            name="descripcion" readonly />
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="form4Example3">ESPECIFIQUE SU PEDIDO</label>
        <textarea class="form-control" id="form4Example3" rows="4" [(ngModel)]="servicio2.descripcionpedi"
            name="descripcion2"></textarea>
    </div>
    <button data-mdb-ripple-init type="button" class="btn btn-primary btn-block mb-4"
        [routerLink]="['/servicios2/form']">CONFIRMAR</button>
</form>