<div class="my-2 text-left">
  <div class="card-header">Servicios</div>
    <div>
      <h6 class="card-title">Servicios Solicitados </h6>
    </div>
    <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <th>Tipo de servicio</th>
        <th>Número de habitación</th>
        <th>Descripción</th>
        <th>Estado</th>
      </thead>
      <tbody>
        <tr *ngFor="let servicios2 of Servicios2">
          <td>
            <div class="ms-3">
              <p class="fw-bold mb-1">{{servicios2.idTipo_servicio}}</p>
            </div>
          </td>
          <td>
            <p class="fw-normal mb-1">{{servicios2.idHabitaciones}}</p>
          </td>
          <td>
            <p class="fw-normal mb-1">{{servicios2.descripcion}}</p>
          </td>
          <td>
            <button type="button" name="estado"
              [ngClass]="{'badge-warning': servicios2.estado === 'Pendiente', 'badge-success': servicios2.estado === 'Realizado'}"
              class="badge rounded-pill d-inline">
              {{servicios2.estado}}
            </button>
          </td>
        </tr>
      </tbody>

    </table>
    <!-- <div class="card-container" style="display: flex; gap: 20px; overflow-x: auto; padding: 20px ; flex-wrap: wrap;">
      <div *ngFor="let servicios2 of Servicios2" class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Tipo de Servicio: {{ servicios2.idTipo_servicio }}</li>
          <li class="list-group-item">Numero de Habitacion: {{ servicios2.idHabitaciones }}</li>
          <li class="list-group-item">Estado: {{ servicios2.estado }}</li>
          <li class="list-group-item">Descripción: {{ servicios2.descripcion }}</li>
        </ul>
        <div class="card-body">
          <div style="display: flex; justify-content: space-between space-between; margin-left:4%; margin-right: 7%;">
            <button type="button" name="button" [routerLink]="['/servicios2/form',servicios2.idServicio]"
              style="background-color: rgb(13, 80, 237); color: white; width: 90px; height: 25px;">EDITAR</button>
          </div>
        </div>
      </div>
    </div> -->
</div>