<nav class="navbar navbar-expand-lg navbar-link  " style="z-index: 2000;">
  <div class="container-fluid" routerLinkActive="active">
    <a class="navbar-brand " aria-current="page" routerLink="/carrucel">
    <img src="assets/imagen/logoLOG.png" style="width: 100px; height: 29px;"> 
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active" routerLinkActive="active">
          <a class="nav-link" aria-current="page" routerLink="/habitaciones">Habitaciones</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" routerLink="/carrucel">Mis Reservas</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" routerLink="/servicios">Servicios</a>
        </li>
        <li class="nav-item active" routerLinkActive="active">
          <a class="nav-link" aria-current="page" [routerLink]="['/clientes', usuario]">Clientes</a>
        </li>

      </ul>
      <ul class="navbar-nav list-inline">
        <!-- Icons -->
        <li class="">
          <a class="nav-link" href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA" rel="nofollow"
            target="_blank">
            <i class="fab fa-youtube"></i>
          </a>
        </li>
        <li class="">
          <a class="nav-link" href="https://www.facebook.com/mdbootstrap" rel="nofollow" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/MDBootstrap" rel="nofollow" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/mdbootstrap/mdb-ui-kit" rel="nofollow" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 53%;">
        <li class="nav-item" >
          <button  class="btn" type="submit" (click)="apagar()" style="border: none;background-color: #F9F9F9;" >Cerrar Sesión</button>
        </li>
      </ul>
    </div>
  </div>
</nav>