<div class="card">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">
      <form (ngSubmit)="submitForm()">
        <!-- Campos comunes a todos los tipos de usuarios -->
        <div class="form-group">
          <label for="nombre">Usuario:</label>
          <input type="text" class="form-control" id="usuario" [(ngModel)]="usuario.usuario" name="nombre" required>
        </div>
  
        <div class="form-group">
          <label for="apellido">Cedula:</label>
          <input type="text" class="form-control" id="cedula_persona" [(ngModel)]="usuario.cedula_persona" name="cedula_persona" required>
        </div>
  
        <div class="form-group">
          <label for="foto">Foto:</label>
          <input type="text" class="form-control" id="foto" [(ngModel)]="usuario.foto" name="foto" required>
        </div>
  
        <!-- Campos específicos para cada tipo de usuario -->
        <div *ngIf="tipoUsuario === 'cliente'">
          <!-- Agrega campos específicos para clientes si es necesario -->
        </div>
  
        <div *ngIf="tipoUsuario === 'recepcionista'">
          <!-- Agrega campos específicos para recepcionistas si es necesario -->
        </div>
  
        <div *ngIf="tipoUsuario === 'administrador'">
          <!-- Agrega campos específicos para administradores si es necesario -->
        </div>
  
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
      </form>
    </div>
  </div>
  