
<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <label for="" class="col-form-label col-sm-2" for="usuario">Nombre:</label>
    <input class="form-control" type="text" id="usuario" formControlName="usuario" />
    <label for="" class="col-form-label col-sm-2" for="contraneusu">Contraseña:</label>
    <input class="form-control" type="text" id="contraneusu" formControlName="contraneusu" />
    <div class="form-group row">
        <div class="col-sm-6">
    <button type="btn btn-primary"  class="btn btn-rounded btn-primary" role="button" type="submit">Buscar</button>
        </div>
    </div>  
</form>
